.grid{
    height: 480px;
    width: 480px;
    background-color: gray;
    margin:auto;
    display: flex;   
    flex-wrap: wrap;
    border-style: outset;
}


.grid div{
    height: 40px;
    width: 40px;
    border: 4px outset;
    text-align: center;
}

.checked{
    border : 4px inset!important;
    background-color: rgb(88, 88, 88);
}

.bomb{
    /* background-color: rgba(255, 166, 0, 0); */
    font-size: 28px;
    /* opacity: 0; */
}

.flag{
    font-size: 28px!important;
}
.valid{
    font-size: 20px;
    font-weight: bolder;
}