.grid{
    height: 480px;
    width: 480px;
    background-color: rgb(133, 133, 133);
    margin:auto;
    display: flex;   
    flex-wrap: wrap;
    border-style: outset;
}


.grid div{
    height: 40px;
    width: 40px;
    border: 4px outset;
    text-align: center;
}

.checked{
    border :rgb(88, 88, 88) 4px solid!important;
    background-color: rgb(126, 123, 123);
}

.bomb{
    /* background-color: rgb(255, 166, 0); */
    font-size: 28px;
}

.flag{
    font-size: 28px!important;
}
.valid{
    font-size: 20px;
    font-weight: bolder;
}